
.wrapper {
  display: block;
  padding: 80px 0;
  text-align: center;
}

.button {
  padding: 10px;
  font-size: 16px;
  border: 2px solid orange;
  border-radius: 4px;
  margin: 0 5px;

  &:hover {
    background-color: #ffffff;
  }
}

.display {
  font-family: monospace;
  font-size: 100px;
}